<section class="benefits" id="benefits">
  <div class="container benefits-pre">
    <div class="picture-benefit">
      <picture class="img-benefits">
        <!-- DESKTOP -->
        <source
          media="(min-width: 1440px)"
          srcset="/img/benefits-desktop.jpg 1x, /img/benefits-desktop@2x.jpg 2x"
        />

        <!-- TABLET -->
        <source
          media="(min-width: 768px)"
          srcset="/img/benefits-tablet.jpg 1x, /img/benefits-tablet@2x.jpg 2x"
        />

        <!-- MOBILE -->
        <source
          media="(max-width: 767px)"
          srcset="/img/benefits-mobile.jpg 1x, /img/benefits-mobile@2x.jpg 2x"
        />

        <img src="/img/benefits-mobile.jpg" alt="Organic food" />
      </picture>
    </div>

    <div class="benefits-right">
      <h2 class="zaglav">Why Choose Organic?</h2>
      <p class="text-for-zaglav">
        Organic products offer a healthier choice for you and your family. With
        no synthetic pesticides or GMOs, you can enjoy better nutrition and
        natural flavors while supporting sustainable farming practices.
      </p>

      <ul class="list-for-benefits">
        <li class="li-benefit">
          <div class="person-con-div">
            <svg class="icon-svg-ben" width="48" height="48">
              <use href="/img/icons.svg#health"></use>
            </svg>
          </div>
          <h3 class="min-zaglav">Better for Your Health</h3>
          <p class="par-for">
            Organic foods are grown without synthetic chemicals, making them
            safer for your body. They're rich in antioxidants and nutrients that
            support your immune system and long-term well-being.
          </p>
        </li>

        <li>
          <div class="person-con-div">
            <svg class="icon-svg-ben" width="48" height="48">
              <use href="/img/icons.svg#basketball"></use>
            </svg>
          </div>
          <h3 class="min-zaglav">Protecting the Planet</h3>
          <p class="par-for">
            Organic farming reduces pollution, conserves water, and improves
            soil health. By choosing organic, you're helping build a cleaner,
            more sustainable environment for future generations.
          </p>
        </li>

        <li>
          <div class="person-con-div">
            <svg class="icon-svg-ben" width="48" height="48">
              <use href="/img/icons.svg#restaurant"></use>
            </svg>
          </div>
          <h3 class="min-zaglav">Fruits & Vegetables</h3>
          <p class="par-for">
            Freshly picked organic produce delivered straight from local farms
            to your table.
          </p>
        </li>

        <li>
          <div class="person-con-div">
            <svg class="icon-svg-ben" width="48" height="48">
              <use href="/img/icons.svg#cheese"></use>
            </svg>
          </div>
          <h3 class="min-zaglav">Dairy Products</h3>
          <p class="par-for">
            Creamy, organic dairy options that are both delicious and ethically
            sourced.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
