<section class="feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title">What Our Customers Say</h2>
    <p class="feedbacks-desc">
      We’re proud to grow a community that values health, sustainability, and
      real flavor. Read what our happy customers have to say about their
      experience with our organic products.
    </p>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "Their eco-friendly packaging is a big plus for me. Highly
            recommend!"
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image.webp"
            alt="Tony Lee profile picture"
            class="profile-pic"
            srcset="/img/avatar-image.webp 1x, /img/avatar-image@2x.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Tony Lee</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "I absolutely love the variety of organic produce available here.
            Everything is fresh and bursting with flavor!"
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-1.webp"
            alt="Emily Johnson profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-1.webp 1x, /img/avatar-image@2x-1.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Emily Johnson</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "The staff is incredibly knowledgeable and always willing to help me
            find what I need. Great service!"
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-2.webp"
            alt="Michael Smith profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-2.webp 1x, /img/avatar-image@2x-2.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Michael Smith</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "I've noticed a significant improvement in my health since switching
            to their organic products. Highly recommend!"
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-3.webp"
            alt="Sarah Davis profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-3.webp 1x, /img/avatar-image@2x-3.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Sarah Davis</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "The range of organic snacks is fantastic! Perfect for my kids, who
            love them and I feel good about giving them healthy options."
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-4.webp"
            alt="David Brown profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-4.webp 1x, /img/avatar-image@2x-4.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">David Brown</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "I appreciate that they source local ingredients. It makes me feel
            connected to the community!"
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-5.webp"
            alt="Jessica Wilson profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-5.webp 1x, /img/avatar-image@2x-5.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Jessica Wilson</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "The prices are fair for the quality of food. I never feel guilty
            about spending a little more here."
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-6.webp"
            alt="Andrew Lee profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-6.webp 1x, /img/avatar-image@2x-6.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Andrew Lee</p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-full"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="19" width="20">
              <use
                class="feedback-stars-icon"
                href="/img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text">
            "Their eco-friendly packaging is a big plus for me. It's nice to
            support a business that cares about the environment!"
          </p>
        </div>
        <div class="feedbacks-item-bottom">
          <img
            src="/img/avatar-image-7.webp"
            alt="Laura Kim profile picture"
            class="profile-pic"
            srcset="/img/avatar-image-7.webp 1x, /img/avatar-image@2x-7.webp 2x"
            width="48"
            height="48"
          />
          <p class="profile-name">Laura Kim</p>
        </div>
      </li>
    </ul>
  </div>
</section>
