<footer class="footer">
  <div class="container">
    <div class="footer-links-wrapper">
      <a
        href="index.html"
        aria-label="go to main page"
        rel="noopener noreferrer"
        class="footer-logo-link"
      >
        <svg class="footer-logo" width="162" height="70" aria-hidden="true">
          <use href="/img/icons.svg#logo"></use>
        </svg>
      </a>
      <nav>
        <ul class="footer-link-list">
          <li class="footer-item">
            <a href="#" aria-label="anchor to home" class="footer-link">Home</a>
          </li>
          <li class="footer-item">
            <a
              href="#mission"
              aria-label="anchor to mission"
              class="footer-link"
              >Mission</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#benefits"
              aria-label="anchor to benefits"
              class="footer-link"
              >Benefits</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#assortment"
              aria-label="anchor to assortment"
              class="footer-link"
              >Assortment</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#feedbacks"
              aria-label="anchor to feedbacks"
              class="footer-link"
              >Feedbacks</a
            >
          </li>
          <li class="footer-item">
            <a href="#faq" aria-label="anchor to faq" class="footer-link"
              >FAQ</a
            >
          </li>
          <li class="footer-item">
            <a
              href="#contacts"
              aria-label="anchor to contacts"
              class="footer-link"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/"
            class="footer-social-link"
            target="_blank"
            aria-label="link to facebook"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            class="footer-social-link"
            target="_blank"
            aria-label="link to instagram"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://x.com/"
            class="footer-social-link"
            target="_blank"
            aria-label="link to x"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#x"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.linkedin.com/"
            class="footer-social-link"
            target="_blank"
            aria-label="link to linkedin"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            class="footer-social-link"
            target="_blank"
            aria-label="link to youtube"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-social-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-text">
        &copy; 2025 Organic Shop. All rights reserved.
      </p>
    </div>
  </div>
</footer>
