<section class="mission" id="mission">
  <div class="container">
    <div class="mission-text">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>

      <p class="mission-txt">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <img
      class="mission-img"
      src="/img/mission.jpg"
      alt="mission"
      srcset="/img/mission.jpg 1x, /img/mission@2x.jpg 2x"
    />
  </div>
</section>
