.mission {
    padding: 64px 0;
}

.mission-title {
    font-family: 'Chivo', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.mission-txt {
    margin-top: 24px;
}

.mission-img {
    margin-top: 32px;
}

@media (min-width: 768px) {
    .mission-text {
        display: flex;
        justify-content: center;
    }

    .mission-title {
        margin: 0;
    }

    .mission-txt {
        margin-top: 0;
        max-width: 340px;
        letter-spacing: 0;
    }

    .mission-img {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .mission {
        padding: 112px 0;
    }

    .mission-text {
        justify-content: space-between;
        align-items: flex-start;
    }

    .mission-title {
        font-size: 48px;
        max-width: 644px;
    }

    .mission-txt {
        max-width: 644px;
        margin-top: 0;
    }

    .mission-img {
        margin-top: 64px;
    }
}